@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
  font-family: "Inter", sans-serif;
}

@import "tailwindcss";

@plugin "daisyui" {
  themes: light --default;
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #018582;
  --color-secondary: #041c3b;
}

.nav-menu a.active {
  color: #026b69;
  text-decoration: underline
}

.btn-main {
  @apply btn bg-primary border px-3 font-[18px] border-primary h-0 py-4 shadow-none text-white;
}

.btn-two {
  @apply btn border bg-base-200 px-3 font-[18px] border-gray-400 h-0 py-4 shadow-none text-gray-700;
}

.title{
  @apply text-center text-secondary mb-2 text-2xl md:text-4xl font-bold;
}


.leaflet-container {
  width: 100% !important;
  height: 400px !important;
}
